@use "../abstracts" as *;

.box {
  background-color: white;
  height: 300px;
  width: 660px;
  align-items: center;

  &__top {
    display: flex;
    margin: 15px 15px 0 15px;

    &-title {
      @include customizeText(18px, 700, initial, #236c62);
      margin-top: auto;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 18px;

    &--left,
    &--right {
      margin-left: 18px;
    }

    &--right {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 10px;
      height: 185px;
      position: relative;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 0px 7px 0px rgba(136, 136, 136, 0.25);
    }

    &--left {
      width: 304px;
      height: 171px;
      background: #e5e5e5;
      box-shadow: 0px 4px 4px 0px rgba(185, 185, 185, 0.25);
      img {
        object-fit: contain;
      }
      p {
      }
    }
  }

  &__info {
    display: flex;
  }

  &__info--left {
    margin-right: 15px;
    img {
      object-fit: contain;
      @include size(123px);
    }
  }

  &__info--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 82px;
      height: 30px;
    }
  }

  &__info-title {
    @include customizeText(14px, 500, 18.2px, initial);
  }

  &__info-desc {
    @include customizeText(13px, 400, 15.6px, initial);
  }

  &__info-button {
    position: absolute;
    bottom: 15px;
    width: 110px;
    height: 23px;
    button {
      border: none;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      background: var(
        --dr-green-2,
        radial-gradient(
          259.48% 104.13% at 45.83% 54.55%,
          rgba(11, 24, 27, 0.5) 0%,
          rgba(24, 121, 104, 0.5) 51.28%,
          rgba(0, 200, 164, 0.5) 100%
        ),
        #20c8a7
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include customizeText(10px, 800, 12px, #fff);
    }
  }
}
